<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-10">
              <h3 class="mb-0">Historial ingresos</h3>
            </div>
            <div class="col-2">
              
            </div>
          </div>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">N. Identidad</th>
                <th scope="col" class="sort" data-sort="name">Nombre</th>
                <th scope="col" class="sort" data-sort="budget">
                  Apellido
                </th>
                <th scope="col" class="sort" data-sort="status">
                  Empresa
                </th>

                <th scope="col" class="sort" data-sort="completion">Area</th>
                <th scope="col" class="sort">Encargado</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let anuncio of anuncios">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm"
                        >{{ anuncio.identidad }}</span
                      >
                    </div>
                  </div>
                </th>
                <td class="budget">{{ anuncio.nombre }}</td>
                <td>
                  <span class="status">{{ anuncio.apellido }}</span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">{{ anuncio.empresa }}</span>
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">{{ anuncio.area }}</span>
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">{{ anuncio.encargado }}</span>
                  </span>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>    
        <!-- Card footer -->
        
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-10">
              <h3 class="mb-0">Ingresos</h3>
            </div>
  
            
          </div>
        </div>
        <!-- Light table -->
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="sort" data-sort="name">Nombre</th>
                <th scope="col" class="sort" data-sort="budget">
                  Apellido
                </th>
                <th scope="col" class="sort" data-sort="status">
                  Genero
                </th>

                <th scope="col" class="sort" data-sort="completion">Area</th>
                <th scope="col" class="sort">Jornada</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="list">
              <tr *ngFor="let ingreso of ingresos">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm"
                        >{{ ingreso.nombre }}</span
                      >
                    </div>
                  </div>
                </th>
                <td class="budget">{{ ingreso.apellido }}</td>
                <td>
                  <span class="status">{{ ingreso.genero }}</span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">{{ ingreso.area }}</span>
                  </span>
                </td>
                <td>
                  <span class="badge badge-dot mr-4">
                    <i class="bg-warning"></i>
                    <span class="status">{{ ingreso.jornada }}</span>
                  </span>
                </td>
                
              </tr>
            </tbody>
          </table>
        </div>    
      </div>
    </div>
  </div>
</div>